.icon {
  vertical-align: middle;
  padding-right: .25rem;
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.pre {
  float: left;
}

.next {
  float: right;
}

:root {
  --accent-bg: #fdf6e3;
  --text: #657b83;
  --text-light: #585858;
  --border: #eee8d5;
  --accent: #268bd2;
  --code: #d81b60;
  --preformatted: #444;
  --marked: #ffdd33;
  --disabled: #efefef;
}